<!DOCTYPE html>
<html>
    <head>
        <title>University Projects</title>
        <link rel="shortcut icon" href="static/University.png" type="x-icon">
        <link rel="stylesheet" href="static/pro_display.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
        <style>
            .head{
                display:grid;
                grid-template-columns:100px 1fr 150px;
                background-color:#00d9ff;
                height:150px;
                width:100%;
            }
            .logo{
                opacity:1;
            }
            .login{
                display:grid;
                grid-template-rows: 75px 75px;
            }
        </style>
    </head>
    <body>
        <div class="head">
            <div class="logo">
            <img src="static/University.png" width="150px" height="150px">
            </div>
            <div>
                <h1 style="text-align: center; margin-top: 40px;">Welcome to University Portal</h1>
            </div>
            <form method="post">
            <div class="login">
                <div style="margin-top: 10px;"><img src="static/icons8-login-67.png" height="30px" width="30px" style="margin-top: 10px;">
                    <a class="bottom" href="{{url_for('login')}}"> 
                        <b style="margin-top:10px;">LOGIN</b>
                    </a>
                </div>
                <div>
                    <img src="static/icons8-login-67.png" height="30px" width="30px" style="margin-top: 10px; display: inline-block;">
                    <a class="bottom" href="{{url_for('register')}}" style="display: inline-block; vertical-align: middle;"> 
                        <b style="margin-bottom: 60px;">SIGN UP</b>
                    </a>
                </div>
                
            </div>
            </form>
        </div>
        <div class="pro">
            <div class="projects">
                <form id='myForm' action="/index" method="POST">
                    <div>
                        <!--<button type="submit">Show Data</button>-->
                        <h2 style="text-align: center; width: 100%;">Latest Projects!!!</h2>
                    </div>
                {% for row in data %}
                <div class="preview">
                    <label for="" class="title">{{row[1]}}</label>
                    <label for="" class="university-details">{{row[8]}}</label>
                    <label for="" class="date">{{row[9]}}</label>
                    <p>{{row[5]}}</p>
                    <button type="submit" onclick="myfunction()" class="form-control btn btn-primary" value="{{row[0]}}" name="read-more">Read more</button>
                </div>
                {% endfor %}
            </form>
            </div>
        </div>
    </body>
</html>